/* You can add global styles to this file, and also import other style files */
input.invalid{
  border-color : red;
}

.well {
  background: none;
}

.table-hover > tbody > tr:hover > td,
.table-hover > tbody > tr:hover > th {
  background-color: #CFF5FF;
}

.sortable {
  cursor: pointer;
}
